/* Footer
-------------------------------------------------- */
.site-footer {
  -webkit-box-flex: 0;
  -webkit-flex: none;
      -ms-flex: none;
          flex: none;
  display: inline-block;
  margin-top: 40px;
  padding: 20px 0;
  font-size: 16px;
  background-color: #212121;
  color: #c0c0c0;
  text-align: center;
}
@media (min-width: 750px) {
  .site-footer {
    padding: 30px 0;
    text-align: left;
  }
}

.site-footer p {
  margin-bottom: 0;
}

.site-footer a {
  color: #fff;
}

.site-footer a:hover {
  color: #f90;
}

.site-footer img {
  position: relative;
  top: 8px;
  margin-left: 5px;
  opacity: .8;
}

@media (min-width: 750px) {
  .hosting {
    float: right;
  }
}