.intro {
  padding-top: 18px;
  padding-bottom: 40px;
  text-align: center;

  h1 {
    margin-bottom: 25px;
    font-size: 64px;
    font-weight: 300;
    line-height: 1;
  }

  h2 {
    margin-bottom: 0;
    font-size: 40px;
    font-weight: 300;
    line-height: 1;
  }

}

.email-optin {
  position: relative;
  margin: 60px 0;
  color: #fff;
  background-color: #3f1f1f;
  box-shadow: inset 0 3px 10px rgba(0, 0, 0, .4);

  p {
    margin-top: 20px;
    padding-bottom: 25px;
    font-size: 24px;
    text-align: center;
    text-shadow: 0 1px 3px rgba(0, 0, 0, .8);
    @media (min-width: 870px) {
      position: absolute;
      top: 45%;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
    }
  }

  .arrow {
    display: none;
    @media (min-width: 870px) {
      display: inline;
    }
  }

  .box {
    width: 100%;
    max-width: 470px;
    margin: -30px auto;
    padding: 60px 50px;
    border-radius: 5px;
    font-size: 18px;
    text-align: center;
    text-shadow: none;
    background-color: #171717;
    box-shadow: 0 5px 30px rgba(0, 0, 0, .3);
    @media (min-width: 870px) {
      float: right;
      margin: -30px 20px;
    }

    p {
      position: relative;
      margin: 0;
      padding: 0;
      transform: unset;
    }

  }

}

.email-instructions {
  display: block;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
