/* Images
-------------------------------------------------- */
img {
  max-width: 100%;
  height: auto;
}

a.aligncenter img {
  display: block;
  margin: 0 auto;
}

a.alignnone {
  display: inline-block;
}

.alignleft {
  float: left;
  text-align: left;
}

.alignright {
  float: right;
  text-align: right;
}

a.alignleft,
a.alignnone,
a.alignright {
  max-width: 100%;
}

img.centered,
.aligncenter {
  display: block;
  margin: 0 auto 24px;
}

img.alignnone,
.alignnone {
  margin-bottom: 24px;
}

a.alignleft,
img.alignleft {
  margin: 0 24px 24px 0;
}

a.alignright,
img.alignright {
  margin: 0 0 24px 24px;
}

img.pullleft {
	float: left;
	margin: 0 24px 26px 0;
}
@media (min-width: 1000px) {
  img.pullleft {
    float: left;
    margin: 0 24px 24px -64px;
  }
}
@media (min-width: 1200px) {
  img.pullleft {
    float: left;
    margin: 0 24px 24px -136px;
  }
}
@media (min-width: 1600px) {
  img.pullleft {
    float: left;
    margin: 0 24px 24px -260px;
  }
}

img.pullright {
  display: block;
  margin: 0 auto 24px;
}
@media (min-width: 550px) {
  img.pullright {
    float: right;
    margin: 0 0 24px 24px;
  }
}
@media (min-width: 1000px) {
  img.pullright {
    float: right;
    margin: 0 -64px 24px 24px;
  }
}
@media (min-width: 1200px) {
  img.pullright {
    float: right;
    margin: 0 -136px 24px 24px;
  }
}
@media (min-width: 1600px) {
  img.pullright {
    float: right;
    margin: 0 -260px 24px 24px;
  }
}

figure {
  position: relative;
  margin: 0;
  text-align: center;
}

figure img {
  margin-bottom: 24px;
}

figure.one-half {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 750px) {
  figure.one-half a,
  figure.one-half > img {
    float: left;
    display: block;
    width: 50%;
    padding-right: 15px;
    padding-left: 15px;
  }
  figure.one-half figcaption {
    clear: left;
  }
}

figure.one-third {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 750px) {
  figure.one-third a,
  figure.one-third > img {
    float: left;
    display: block;
    width: 33.33333333%;
    padding-right: 15px;
    padding-left: 15px;
  }
}
