<!doctype html>
<html lang="en-US">

  {% include head.html %}

  <!--<body{% if page.url == '/' %} class="home"{% elsif page.title == 'Newsletter Archives' %} class="archive"{% endif %} itemscope itemtype="http://schema.org/WebPage">-->
  <body{% if page.title === 'Newsletter Archives' %} class="archive"{% endif %} itemscope itemtype="http://schema.org/WebPage">
      
    {% include header.html %}

    <main class="content">
      {{ content }}
    </main>

    {% include footer.html %}

    <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
    <script async src="{{ site.url }}/js/main.js"></script>
    <script>
      var _paq = _paq || [];
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      _paq.push(['setTrackerUrl', '//analytics.bradonomics.com/piwik.php']);
      _paq.push(['setSiteId', 2]);
    </script>
    <script async src="//cdnjs.cloudflare.com/ajax/libs/piwik/2.15.0/piwik.js"></script>
    <noscript><img src="//analytics.bradonomics.com/piwik.php?idsite=2" style="border:0;"></noscript>

  </body>

</html>